<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Perfil do Colaborador</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">Esse é o perfil do colaborador.
  <app-loading></app-loading>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Perfil do Colaborador</ion-title>
    </ion-toolbar>
  </ion-header>
</div>