.content-container{
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-image: url('./city.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}