<ion-accordion-group>
  <ion-accordion *ngFor="let section of sections">
    <ion-item  slot="header" color="light">
      <ion-label>{{section.name}}</ion-label>
    </ion-item>

    {{cardItems | json}}

    <div *ngFor="let cardItem of cardItems" class="ion-padding" slot="content">
      <p>Admissão na empresa</p>
      <span>{{companyAdmissionDate}}</span>
      <p>Data de nascimento</p>
      <span>{{birthDate || randomUser.dob.date + ' (' + randomUser.dob.age + ' anos)'}}</span>
      <p>Celular</p>
      <span>{{phone || randomUser.phone}}</span>
      <p>E-mail</p>
      <span>{{email || randomUser.email}}</span>
    </div>

  </ion-accordion>
</ion-accordion-group>
