<ion-accordion-group>
  <ion-accordion *ngFor="let section of sections">
    <ion-item slot="header" color="light">
      <ion-label>{{section.name}}</ion-label>
    </ion-item>
    <div  class="ion-padding" slot="content">
      <p>Admissão na empresa</p>
      <span>{{firstUser.sections[0]}}</span>
      <p>Data de nascimento</p>
      <span>{{firstUser.birthDate || randomUser.dob.date}} ({{randomUser.dob.age}} anos)</span>
      <p>Celular</p>
      <span>{{randomUser.phone}}</span>
      <p>E-mail</p>
      <span>{{randomUser.email}}</span>
    </div>
<!--  </ion-accordion>-->
<!-- <ion-accordion value="second">-->
<!--    <ion-item slot="header" color="light">-->
<!--      <ion-label>Cursos</ion-label>-->
<!--    </ion-item>-->
<!--    <div class="ion-padding" slot="content">-->
<!--      Cursos-->
<!--    </div>-->
<!--  </ion-accordion>-->
<!--  <ion-accordion value="third">-->
<!--    <ion-item slot="header" color="light">-->
<!--      <ion-label>Formação acadêmica</ion-label>-->
<!--    </ion-item>-->
<!--    <div class="ion-padding" slot="content">-->
<!--      Formação acadêmica-->
<!--    </div>-->
<!--  </ion-accordion>-->
<!--  <ion-accordion value="fourth">-->
<!--    <ion-item slot="header" color="light">-->
<!--      <ion-label>Idiomas</ion-label>-->
<!--    </ion-item>-->
<!--    <div class="ion-padding" slot="content">-->
<!--      Idiomas-->
<!--    </div>-->
<!--  </ion-accordion>-->
<!--  <ion-accordion value="fifth">-->
<!--    <ion-item slot="header" color="light">-->
<!--      <ion-label>Histórico profissional</ion-label>-->
<!--    </ion-item>-->
<!--    <div class="ion-padding" slot="content">-->
<!--      Histórico profissional-->
<!--    </div>-->
  </ion-accordion>
</ion-accordion-group>
