<ion-accordion-group>
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ion-label>Dados de identificação</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Dados de identificação
    </div>
  </ion-accordion>
  <ion-accordion value="second">
    <ion-item slot="header" color="light">
      <ion-label>Cursos</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Cursos
    </div>
  </ion-accordion>
  <ion-accordion value="third">
    <ion-item slot="header" color="light">
      <ion-label>Formação acadêmica</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Formação acadêmica
    </div>
  </ion-accordion>
  <ion-accordion value="fourth">
    <ion-item slot="header" color="light">
      <ion-label>Idiomas</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Idiomas
    </div>
  </ion-accordion>
  <ion-accordion value="fifth">
    <ion-item slot="header" color="light">
      <ion-label>Histórico profissional</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Histórico profissional
    </div>
  </ion-accordion>
</ion-accordion-group>